.container{
  margin: 20px;
  width: 900px;
}
.addForm{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.add-item-form{
  width: 90%;
}
.todo-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;

}

.list-group .form-control{
  width: 100%;
}

.parent{
  float: right;
  display: flex;
  flex-direction: row;
}

input:focus{
  outline: none;
}
